@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 10em;
}

figure {
  margin: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
  color: #383D8B;
}

a:hover {
  color: #5A5ACD;
}

.chapter-name {
  font-weight: bold;
  font-size: 125%;
  padding-top: 10em;
}

.progress-card-block {
padding: 0 2em 2em 2em;
}

.chapter-name {
  margin-top: 0.75em;
}

.banner {
  background-size: cover;
  width:100%;
  height: 20em;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px black;
}

.home-banner {
  background-image: url("/banner-home.png");
}

.progress-banner {
  background-image: url("/banner-progress.png");
}

.progress-card-body {
  padding-bottom: 0;
}

.footer-blurb {
  color: #fff;
  list-style: none;
}

.card {
  margin: 1em;
  min-width: 10em;
  max-width: 100%;
}

.card-block {
  border: 1px;
  border-color: grey;
}

.card-img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: auto;
}

.card-title {
  font-weight: bold;
  font-size: 115%;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-item {
  padding: 0.5em;
}

.nav-item a {
  color: #ffc107;
}

.CircularProgressbar {
  display: flex;
  justify-content: center;
  margin: 0 2em 0 2em;
  }


.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.btn-primary {
  border: none;
  background-color: #383D8B;
  align: center;
}

.btn-primary:hover{
    background: #5A5ACD;
}

.btn-link {
  color: #fff;
}

.dv-star-rating.review-star {
  font-size: 250%;
}

.dv-star-rating {
  font-size: 150%;
}

.chapter-name {
  padding-top: 0.25em;
  display: inline-block;
  font-size: 115%;
}

.reviews-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.review-star-title-container {
  vertical-align: middle;
}

.review-card {
  padding: 0 1em;
}
